services:
  mongodb:
    image: mongo:latest
    container_name: mongo
    ports:
      - 27017:27017
    volumes:
      - mongo_volume:/data/db

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data

  analytics-api:
    build: ./analytics-api
    container_name: kanalytics-api
    ports:
      - "8000:8000"
    depends_on:
      - mongodb
      - redis

  consumer:
    build: ./consumer
    container_name: consumer
    depends_on:
      - mongodb
      - redis

    
  producer:
    build: ./producer
    container_name: cproducer
    depends_on:
      - mongodb
      - redis

volumes:
  mongo_volume:
  redis_data: